.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
}

.logo > img {
  width: 48px;
  height: 48px;
}

.pokémon {
  width: 200px;
  height: 200px;
}

.sprites > img {
  width: 150px;
  height: 150px;
}

.da {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.copyright {
  color: white;
}
